<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mathias.android.acast"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".ACastMenu"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FeedList"/>
        <activity android:name=".FeedItemList"/>
        <activity android:name=".FeedAdd"/>
        <activity android:name=".VideoPlayer"/>
        <activity android:name=".Player"/>
        <activity android:name=".FeedInfo"/>
        <activity android:name=".FeedItemInfo"/>
        <activity android:name=".DownloadQueueList"/>
        <activity android:name=".DownloadedList"/>
        <activity android:name=".PlayList"/>
        <activity android:name=".SettingsEdit"/>
        <service android:name=".common.services.media.MediaService"/>
        <service android:name=".common.services.download.DownloadService"/>
    </application>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
</manifest>
